# Sample gitconfig
#

[hub]
  protocol = https
[user]
	name = Matthew Brown
	email = mbrown@gocardless.com
  #signingkey = 43E11D57
[credential]
	helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
	excludesfile = ~/.gitignore
  editor = nvim
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
  prompt = false
[difftool]
  prompt = false

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
[merge]
  tool = Kaleidoscope

[help]
  autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
  default = simple
	authSetupRemote = true
	autoSetupRemote = true
[core]
  whitespace = trailing-space,space-before-tab
  precomposeunicode = true
[apply]
  whitespace = fix
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[ghi]
  token = !security find-internet-password -a mnbbrown -s github.com -l 'ghi token' -w
[commit]
  #gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rerere]
	enabled = 1
[init]
	defaultBranch = main
